<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户登录</title>
        <link rel="stylesheet" href="dis/style.css" />
        <link rel="stylesheet" href="dis/animate.css" />
        <link rel="stylesheet" href="dis/bootstrap.min.css" />
        <style type="text/css">
            body {
                background-image:url(images/bg.jpg);
                background-size: cover;
            }
        </style>
    </head>
    <body>
    	 <div class="middle-box text-center loginscreen  animated fadeInDown">
	        <div>
	            <div>
	                <h1 class="logo-name">K+</h1>
	            </div>
	            <h3>快易点后台管理系统</h3>
	            <br />
							<div class="form-group">
							    	<button class='btn btn-info'  @click='admin(this)'>管理员入口</button>
							</div>
		
							<div class="form-group">
							   <button class='btn btn-info'  @click='admin(this)'>管理员入口</button>
							</div>
						
							<div class="form-group">
							   <button class='btn btn-info'  @click='admin(this)'>管理员入口</button>
							</div>
	        </div>
	    </div>

        
        <script src="dis/jquery-2.1.4.min.js"></script>
        <script src="dis/bootstrap.min.js"></script>
        
        <script type="text/javascript">
        	function admin(this){
        		alert("1")
        		
        	}
        	function shops(){
        		alert("2")
        		
        	}
        	function shopusers(){
        		alert("3")
        		
        	}
        	
        </script>
        
    </body>
</html>
